header{
    margin: 10px;
    width: 700px;
}
article {
    border: 1px solid gray;
    padding: 20px;
    margin-bottom: 15px;
}
section{
    margin: 10px;
    width: 700px;
    float: left;
}
h1{
    color: aqua; 
}
h5{
    width: 260px; 
    height: 25px; 
    background: aqua;
    text-align: center;
    font: bold 15px sans-serif;
    color: white
}
p{
    font bold 14px sans-serif
    text-align="justify"
}

h6{
    width: 450px; 
    height: 10px; 
    text-align: right;
    font: bold 15px sans-serif;
    color: blue
}